.thumb {
    max-width: 200px;
    max-height: 200px;
}

.blog td {
    padding: 15px !important;
}

.movie td {
    padding: 40px;
}

.deleteMovie a {
    text-decoration: none;
}

.blog-menu a {
    padding: 10px;
    text-decoration: none;
}

.blog-menu a:hover{
    font-size: 17px;
}